body {
    background: var(--accent-bg);
}

header {
    padding-top: 10rem;
    background: var(--accent-bg);
    border-bottom: none;
}

header img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    body {
        padding: 0 1rem;
    }
}

article {
    border: 1px solid var(--border);
    border-radius: 8px;
    background: var(--bg);
    margin-bottom: 3rem;
    overflow:hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .title-container,
    section {
        padding: 0 1rem;
    }

    .img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
            background-color: var(--text);
            width: 100%;
            max-height: 400px;
            object-fit: cover;
            border-radius: 0;
        }
    }


    section.major {
        min-height: 300px;
        display: flex;
        flex-flow: column;
        justify-content: end;
        min-height:500px;
        position: relative;
        margin-bottom: 4rem;

        .img-container {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index:0;
          
            img {
                background-color: var(--text);
                width: 100%;
                max-height: 400px;
                object-fit: cover;
                border-radius: 0;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 10%, transparent 90%);
            }
        }

        h1 {
            margin-bottom: 1rem;
            z-index:1;
        }

        div.post-meta {
            z-index: 1;
        }
    }
}

ul.tags {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    line-height: 3;

    li {
        display: inline;
        margin-right: 0.5rem;
        border: 2px solid var(--border);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        box-sizing: border-box;
    }
}

p img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    transition: 1s;
}

section.button-container {
    display: flex;
    justify-content: space-between;
}

