ul.tags {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    line-height: 3;

    li {
        display: inline;
        margin-right: 0.5rem;
        border: 2px solid var(--border);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        box-sizing: border-box;
    }
}

.img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        background-color: var(--text);
    }
}

p img {
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

section.button-container {
    display: flex;
    justify-content: space-between;
}

hr {
    padding: 0;
    border: none;
    border-top: thin solid #8c8c8c;
    color: #8c8c8c;
    text-align: center;
    margin: 2rem auto;

    &:after {
        content: '§';
        display: inline-block;
        position: relative;
        top: -0.9em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: #fff;
    }
}
