---
layout: default
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
---

  <section>
    {% for post in posts  %}
      
      <header class="major">
      <a href="{{ post.url }}">
          <h2>{{ post.data.title }}</h2>
          <p>{{ post.date | postDate }}</p>
          <img src="{{post.data.headerImg}}">
        </a>
      </header>

      <section>
        <P>{{ post.data.description }}</P>
        
        <ul class="tags">
        {% for tag in post.data.tags %}
        <li>{{tag}}</li>
        {% endfor %}
        </ul>
      </section>

      <hr/>

    {% endfor %}

    <section class="button-container">
        <a href="archives/page2/" class="button"><< Older Posts</a> 
    </section>
  </section>