---
layout: default
pagination:
  data: collections.posts
  size: 10
  alias: posts
  reverse: true
permalink: "/{% if pagination.pageNumber > 0 %}archives/page{{ pagination.pageNumber + 1}}/{% endif %}"
---

  <section>
    {% for post in posts  %}
      
      <a href="{{ post.url }}">
          <h2>{{ post.data.title }}</h2>
          <p>{{ post.date | postDate }}</p>
          <img src="{{post.data.headerImg}}">
        </a>

      <section>
        <P>{{ post.data.description }}</P>
        
        <ul class="tags">
        {% for tag in post.data.tags %}
        <li>{{tag}}</li>
        {% endfor %}
        </ul>
      </section>

      <hr/>

    {% endfor %}

    <section class="button-container">
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">
        <button>	&#8592; Older</button>
      </a>
    {% endif %}
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">
        <button>Newer 	&#8594;</button>
      </a>
    {% endif %}
    </section>
  </section>