---
layout: default
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slugify }}/
---

<h1>Tagged “{{ tag }}”</h1> 

<section>
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <article>
      <a href="{{ post.url }}">
        <div class="img-container">
          <img src="https://ik.imagekit.io/xthvogziier/{{post.data.headerImg}}">
        </div>
        <div class="title-container">
          <h2>{{ post.data.title }}</h2>
          <div class="post-meta">{{ post.date | postDate }}</div>
        </div>
      </a>

      <section>
        <P>{{ post.data.description }}</P>

        <ul class="tags">
          {% for tag in post.data.tags %}
            <li><a href="/tags/{{tag | slugify }}/">{{tag}}</a></li>
          {% endfor %}
        </ul>
      </section>
    </article>

  {% endfor %}

  <section class="button-container">
    {% if taglist.href.next %}
      <a href="{{ taglist.href.next }}">
        <button>	&#8592; Older</button>
      </a>
    {% endif %}
    {% if taglist.href.previous %}
      <a href="{{ taglist.href.previous }}">
        <button>Newer 	&#8594;</button>
      </a>
    {% endif %}
  </section>
</section>