<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Michele Nasti's blog</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
		<link rel="stylesheet" href="/css/custom.css">
    </head>
    <body>
        <header>
            <nav>
                
                <a href="/" class="blog-name">Home</a>
                <a href="/chi-sono-michele-nasti/">About</a>
                <a href="/talks-conferences/">Talks & Conferences</a>
                
            </nav>

            <h1>Michele Nasti</h1>
            <p>I am a full stack developer with an eye for the web.</p>
        </header>
        <main>
                {{ content | safe }}
        </main>
        <footer>
            this is a footer
        </footer>
    </body>
</html>
