<footer id="footer">
  <ul class="icons">
    <li>
      <a href="https://michelenasti.com/feed.xml">
        <i title="RSS" class="fa-solid fa-square-rss"></i>
      </a>
    </li>

    <li>
      <a href="https://github.com/musikele">
        <i title="Github" class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/micnasti">
        <i title="Twitter" class="fa-brands fa-twitter-square"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/michelenasti/">
        <i title="Linkedin" class="fa-brands fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <ul class="copyright">
    <li>&copy; Michele Nasti</li>
  </ul>
</footer>
