---
layout: default
---

<div id="main">
    <article>
        <section class="major">
            <h2 class="post-title">{{ title }}</h2>
        </section>

        <section>
            {{ content | safe }}
        </section>
    </article>

</div>
