--- 
layout: default
permalink: "/{{ page.date | toISODate }}/{{page.fileSlug }}.html"
---

<div id="main">
	<article>
		<section class="major">
			<div class="img-container">
          		<img src="https://ik.imagekit.io/xthvogziier/tr:w-1440/{{headerImg}}">
        	</div>
			<h1 class="post-title"><a href="{{page.url}}">{{ title }}</a></h1>
			<div class="post-meta">{{ page.date | postDate }}</div>
		</section>

		<section>
			
			{{ content | safe }} 

		</section>
	</article>

	<section>
		{% include "./disqus.html" %}
	</section>

</div>
