--- 
layout: default
permalink: "/{{ page.date | toISODate }}/{{page.fileSlug }}.html"
---

<div id="main">
	<article>
		<section class="major">
			<div class="img-container">
          		<img src="{{headerImg | imagePath }}">
        	</div>
			<h1 class="post-title"><a href="{{page.url}}">{{ title }}</a></h1>
			<div class="post-meta">{{ page.date | postDate }}</div>
		</section>

		<section>
			
			{{ content | safe }} 

		</section>
	</article>

	<section class="edit-link">
		<a href="/admin/#/collections/posts/entries/{{ page.inputPath | fileName }}" target="_blank" rel="noopener">Edit this article</a>
	</section>

	<section>
		{% include "./disqus.html" %}
	</section>

</div>
